Repository astral-sh/ruff: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system

dev-generate-all:
  name: dev-generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Ignore ruff_cli resources
  .pre-commit-config.yaml
  crates/ruff_cli/src/cache.rs
Due: cargo-fmt, dev-generate-all

Improve debuggability of `place_comment`
  crates/ruff_python_formatter/src/comments/placement.rs
  crates/ruff_python_formatter/src/comments/visitor.rs
Due: cargo-fmt, dev-generate-all

Skip black_compatibility_test
  .github/workflows/ci.yaml
Due: dev-generate-all

Move to `Box<dyn Write>` implementation
  crates/ruff_cli/src/lib.rs
  crates/ruff_cli/src/printer.rs
Due: cargo-fmt, dev-generate-all

Store ranges on nameS
  Cargo.lock
  Cargo.toml
  crates/ruff/src/checkers/ast/mod.rs
  crates/ruff/src/rules/flake8_bugbear/rules/getattr_with_constant.rs
  crates/ruff/src/rules/flake8_bugbear/rules/setattr_with_constant.rs
  crates/ruff/src/rules/flake8_gettext/rules/is_gettext_func_call.rs
  crates/ruff/src/rules/flake8_pie/rules/multiple_starts_ends_with.rs
  crates/ruff/src/rules/flake8_pytest_style/rules/raises.rs
  crates/ruff/src/rules/flake8_pytest_style/rules/unittest_assert.rs
  crates/ruff/src/rules/flake8_simplify/rules/ast_if.rs
  crates/ruff/src/rules/flake8_tidy_imports/rules/relative_imports.rs
  crates/ruff/src/rules/pycodestyle/rules/lambda_assignment.rs
  crates/ruff/src/rules/pylint/rules/duplicate_bases.rs
  crates/ruff/src/rules/pylint/rules/manual_import_from.rs
  crates/ruff/src/rules/pylint/rules/useless_import_alias.rs
  crates/ruff/src/rules/pyupgrade/rules/convert_named_tuple_functional_to_class.rs
  crates/ruff/src/rules/pyupgrade/rules/convert_typed_dict_functional_to_class.rs
  crates/ruff/src/rules/pyupgrade/rules/super_call_with_parameters.rs
  crates/ruff/src/rules/ruff/rules/implicit_optional.rs
  crates/ruff/src/rules/tryceratops/rules/useless_try_except.rs
  crates/ruff/src/rules/tryceratops/rules/verbose_log_message.rs
  crates/ruff/src/rules/tryceratops/rules/verbose_raise.rs
  crates/ruff_python_ast/src/source_code/generator.rs
  crates/ruff_python_formatter/src/comments/placement.rs
Due: cargo-fmt, dev-generate-all

Open cache files in parallel (#5120)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  crates/ruff/src/settings/mod.rs
  crates/ruff_cli/resources/test/fixtures/cache_mutable/.gitignore
  crates/ruff_cli/resources/test/fixtures/cache_mutable/source.py
  crates/ruff_cli/src/cache.rs
  crates/ruff_cli/src/commands/run.rs
  crates/ruff_cli/src/diagnostics.rs
Due: cargo-fmt, dev-generate-all

Upgrade `RustPython` to access ranged names (#5194)
  Cargo.lock
  Cargo.toml
  crates/ruff/src/checkers/ast/mod.rs
  crates/ruff/src/rules/flake8_bugbear/rules/getattr_with_constant.rs
  crates/ruff/src/rules/flake8_bugbear/rules/setattr_with_constant.rs
  crates/ruff/src/rules/flake8_gettext/rules/is_gettext_func_call.rs
  crates/ruff/src/rules/flake8_pie/rules/multiple_starts_ends_with.rs
  crates/ruff/src/rules/flake8_pytest_style/rules/raises.rs
  crates/ruff/src/rules/flake8_pytest_style/rules/unittest_assert.rs
  crates/ruff/src/rules/flake8_simplify/rules/ast_if.rs
  crates/ruff/src/rules/flake8_tidy_imports/rules/relative_imports.rs
  crates/ruff/src/rules/pycodestyle/rules/lambda_assignment.rs
  crates/ruff/src/rules/pylint/rules/duplicate_bases.rs
  crates/ruff/src/rules/pylint/rules/manual_import_from.rs
  crates/ruff/src/rules/pylint/rules/useless_import_alias.rs
  crates/ruff/src/rules/pyupgrade/rules/convert_named_tuple_functional_to_class.rs
  crates/ruff/src/rules/pyupgrade/rules/convert_typed_dict_functional_to_class.rs
  crates/ruff/src/rules/pyupgrade/rules/super_call_with_parameters.rs
  crates/ruff/src/rules/ruff/rules/implicit_optional.rs
  crates/ruff/src/rules/tryceratops/rules/useless_try_except.rs
  crates/ruff/src/rules/tryceratops/rules/verbose_log_message.rs
  crates/ruff/src/rules/tryceratops/rules/verbose_raise.rs
  crates/ruff_python_ast/src/source_code/generator.rs
  crates/ruff_python_formatter/src/comments/placement.rs
Due: cargo-fmt, dev-generate-all

Remove lex
  crates/ruff/src/checkers/ast/mod.rs
  crates/ruff/src/rules/flake8_annotations/rules/definition.rs
  crates/ruff/src/rules/flake8_bugbear/rules/abstract_base_class.rs
  crates/ruff/src/rules/flake8_bugbear/rules/f_string_docstring.rs
  crates/ruff/src/rules/flake8_builtins/helpers.rs
  crates/ruff/src/rules/flake8_builtins/rules/builtin_attribute_shadowing.rs
  crates/ruff/src/rules/flake8_builtins/rules/builtin_variable_shadowing.rs
  crates/ruff/src/rules/flake8_builtins/snapshots/ruff__rules__flake8_builtins__tests__A001_A001.py.snap
  crates/ruff/src/rules/flake8_builtins/snapshots/ruff__rules__flake8_builtins__tests__A001_A001.py_builtins_ignorelist.snap
  crates/ruff/src/rules/flake8_import_conventions/snapshots/ruff__rules__flake8_import_conventions__tests__custom.snap
  crates/ruff/src/rules/flake8_import_conventions/snapshots/ruff__rules__flake8_import_conventions__tests__defaults.snap
  crates/ruff/src/rules/flake8_import_conventions/snapshots/ruff__rules__flake8_import_conventions__tests__from_imports.snap
  crates/ruff/src/rules/flake8_import_conventions/snapshots/ruff__rules__flake8_import_conventions__tests__override_default.snap
  crates/ruff/src/rules/flake8_import_conventions/snapshots/ruff__rules__flake8_import_conventions__tests__remove_default.snap
  crates/ruff/src/rules/flake8_pyi/rules/non_self_return_type.rs
  crates/ruff/src/rules/flake8_pyi/rules/str_or_repr_defined_in_stub.rs
  crates/ruff/src/rules/flake8_pyi/rules/stub_body_multiple_statements.rs
  crates/ruff/src/rules/flake8_pytest_style/rules/fixture.rs
  crates/ruff/src/rules/flake8_slots/rules/no_slots_in_namedtuple_subclass.rs
  crates/ruff/src/rules/flake8_slots/rules/no_slots_in_str_subclass.rs
  crates/ruff/src/rules/flake8_slots/rules/no_slots_in_tuple_subclass.rs
  crates/ruff/src/rules/mccabe/rules/function_is_too_complex.rs
  crates/ruff/src/rules/pep8_naming/rules/dunder_function_name.rs
  crates/ruff/src/rules/pep8_naming/rules/error_suffix_on_exception_name.rs
  crates/ruff/src/rules/pep8_naming/rules/invalid_class_name.rs
  crates/ruff/src/rules/pep8_naming/rules/invalid_function_name.rs
  crates/ruff/src/rules/pydocstyle/rules/if_needed.rs
  crates/ruff/src/rules/pydocstyle/rules/not_missing.rs
  crates/ruff/src/rules/pydocstyle/rules/sections.rs
  crates/ruff/src/rules/pyflakes/snapshots/ruff__rules__pyflakes__tests__F401_F401_0.py.snap
  crates/ruff/src/rules/pyflakes/snapshots/ruff__rules__pyflakes__tests__F401_F401_5.py.snap
  crates/ruff/src/rules/pylint/rules/property_with_parameters.rs
  crates/ruff/src/rules/pylint/rules/too_many_arguments.rs
  crates/ruff/src/rules/pylint/rules/too_many_branches.rs
  crates/ruff/src/rules/pylint/rules/too_many_return_statements.rs
  crates/ruff/src/rules/pylint/rules/too_many_statements.rs
  crates/ruff/src/rules/pylint/rules/unexpected_special_method_signature.rs
  crates/ruff/src/rules/pyupgrade/rules/unnecessary_class_parentheses.rs
  crates/ruff/src/rules/pyupgrade/rules/useless_object_inheritance.rs
  crates/ruff_python_ast/src/identifier.rs
Due: cargo-fmt, dev-generate-all

Add days-old flag to ruff clean
  crates/ruff_cli/src/args.rs
  crates/ruff_cli/src/commands/clean.rs
  crates/ruff_cli/src/lib.rs
Due: cargo-fmt, dev-generate-all

Keep track of when files are last seen in the cache
  crates/ruff_cli/src/cache.rs
  crates/ruff_cli/src/diagnostics.rs
Due: cargo-fmt, dev-generate-all

Consistently name comment own line/end-of-line `line_position()`
  crates/ruff_python_formatter/src/comments/debug.rs
  crates/ruff_python_formatter/src/comments/format.rs
  crates/ruff_python_formatter/src/comments/mod.rs
  crates/ruff_python_formatter/src/comments/placement.rs
  crates/ruff_python_formatter/src/comments/visitor.rs
  crates/ruff_python_formatter/src/expression/expr_list.rs
  crates/ruff_python_formatter/src/statement/stmt_function_def.rs
  crates/ruff_python_formatter/src/statement/stmt_if.rs
  crates/ruff_python_formatter/src/statement/stmt_while.rs
Due: cargo-fmt, dev-generate-all

Remove identifier lexing in favor of parser ranges (#5195)
  crates/ruff/src/checkers/ast/mod.rs
  crates/ruff/src/rules/flake8_annotations/rules/definition.rs
  crates/ruff/src/rules/flake8_bugbear/rules/abstract_base_class.rs
  crates/ruff/src/rules/flake8_bugbear/rules/f_string_docstring.rs
  crates/ruff/src/rules/flake8_builtins/helpers.rs
  crates/ruff/src/rules/flake8_builtins/rules/builtin_attribute_shadowing.rs
  crates/ruff/src/rules/flake8_builtins/rules/builtin_variable_shadowing.rs
  crates/ruff/src/rules/flake8_builtins/snapshots/ruff__rules__flake8_builtins__tests__A001_A001.py.snap
  crates/ruff/src/rules/flake8_builtins/snapshots/ruff__rules__flake8_builtins__tests__A001_A001.py_builtins_ignorelist.snap
  crates/ruff/src/rules/flake8_import_conventions/snapshots/ruff__rules__flake8_import_conventions__tests__custom.snap
  crates/ruff/src/rules/flake8_import_conventions/snapshots/ruff__rules__flake8_import_conventions__tests__defaults.snap
  crates/ruff/src/rules/flake8_import_conventions/snapshots/ruff__rules__flake8_import_conventions__tests__from_imports.snap
  crates/ruff/src/rules/flake8_import_conventions/snapshots/ruff__rules__flake8_import_conventions__tests__override_default.snap
  crates/ruff/src/rules/flake8_import_conventions/snapshots/ruff__rules__flake8_import_conventions__tests__remove_default.snap
  crates/ruff/src/rules/flake8_pyi/rules/non_self_return_type.rs
  crates/ruff/src/rules/flake8_pyi/rules/str_or_repr_defined_in_stub.rs
  crates/ruff/src/rules/flake8_pyi/rules/stub_body_multiple_statements.rs
  crates/ruff/src/rules/flake8_pytest_style/rules/fixture.rs
  crates/ruff/src/rules/flake8_slots/rules/no_slots_in_namedtuple_subclass.rs
  crates/ruff/src/rules/flake8_slots/rules/no_slots_in_str_subclass.rs
  crates/ruff/src/rules/flake8_slots/rules/no_slots_in_tuple_subclass.rs
  crates/ruff/src/rules/mccabe/rules/function_is_too_complex.rs
  crates/ruff/src/rules/pep8_naming/rules/dunder_function_name.rs
  crates/ruff/src/rules/pep8_naming/rules/error_suffix_on_exception_name.rs
  crates/ruff/src/rules/pep8_naming/rules/invalid_class_name.rs
  crates/ruff/src/rules/pep8_naming/rules/invalid_function_name.rs
  crates/ruff/src/rules/pydocstyle/rules/if_needed.rs
  crates/ruff/src/rules/pydocstyle/rules/not_missing.rs
  crates/ruff/src/rules/pydocstyle/rules/sections.rs
  crates/ruff/src/rules/pyflakes/snapshots/ruff__rules__pyflakes__tests__F401_F401_0.py.snap
  crates/ruff/src/rules/pyflakes/snapshots/ruff__rules__pyflakes__tests__F401_F401_5.py.snap
  crates/ruff/src/rules/pylint/rules/property_with_parameters.rs
  crates/ruff/src/rules/pylint/rules/too_many_arguments.rs
  crates/ruff/src/rules/pylint/rules/too_many_branches.rs
  crates/ruff/src/rules/pylint/rules/too_many_return_statements.rs
  crates/ruff/src/rules/pylint/rules/too_many_statements.rs
  crates/ruff/src/rules/pylint/rules/unexpected_special_method_signature.rs
  crates/ruff/src/rules/pyupgrade/rules/unnecessary_class_parentheses.rs
  crates/ruff/src/rules/pyupgrade/rules/useless_object_inheritance.rs
  crates/ruff_python_ast/src/identifier.rs
Due: cargo-fmt, dev-generate-all

Move star import to its own module
  crates/ruff_python_semantic/src/binding.rs
  crates/ruff_python_semantic/src/lib.rs
  crates/ruff_python_semantic/src/scope.rs
  crates/ruff_python_semantic/src/star_import.rs
Due: cargo-fmt, dev-generate-all

Complete `flake8-bugbear` documentation (#5178)
  crates/ruff/src/rules/flake8_bugbear/rules/abstract_base_class.rs
  crates/ruff/src/rules/flake8_bugbear/rules/assert_false.rs
  crates/ruff/src/rules/flake8_bugbear/rules/assignment_to_os_environ.rs
  crates/ruff/src/rules/flake8_bugbear/rules/cached_instance_method.rs
  crates/ruff/src/rules/flake8_bugbear/rules/duplicate_exceptions.rs
  crates/ruff/src/rules/flake8_bugbear/rules/except_with_empty_tuple.rs
  crates/ruff/src/rules/flake8_bugbear/rules/except_with_non_exception_classes.rs
  crates/ruff/src/rules/flake8_bugbear/rules/f_string_docstring.rs
  crates/ruff/src/rules/flake8_bugbear/rules/function_uses_loop_variable.rs
  crates/ruff/src/rules/flake8_bugbear/rules/getattr_with_constant.rs
  crates/ruff/src/rules/flake8_bugbear/rules/jump_statement_in_finally.rs
  crates/ruff/src/rules/flake8_bugbear/rules/loop_variable_overrides_iterator.rs
  crates/ruff/src/rules/flake8_bugbear/rules/mutable_argument_default.rs
  crates/ruff/src/rules/flake8_bugbear/rules/raise_literal.rs
  crates/ruff/src/rules/flake8_bugbear/rules/raise_without_from_inside_except.rs
  crates/ruff/src/rules/flake8_bugbear/rules/redundant_tuple_in_exception_handler.rs
  crates/ruff/src/rules/flake8_bugbear/rules/setattr_with_constant.rs
  crates/ruff/src/rules/flake8_bugbear/rules/star_arg_unpacking_after_keyword_arg.rs
  crates/ruff/src/rules/flake8_bugbear/rules/strip_with_multi_characters.rs
  crates/ruff/src/rules/flake8_bugbear/rules/unary_prefix_increment.rs
  crates/ruff/src/rules/flake8_bugbear/rules/unreliable_callable_check.rs
  crates/ruff/src/rules/flake8_bugbear/rules/unused_loop_control_variable.rs
  crates/ruff/src/rules/flake8_bugbear/rules/useless_comparison.rs
  crates/ruff/src/rules/flake8_bugbear/rules/useless_contextlib_suppress.rs
  crates/ruff/src/rules/flake8_bugbear/rules/useless_expression.rs
  crates/ruff/src/rules/flake8_bugbear/rules/zip_without_explicit_strict.rs
  crates/ruff/src/rules/ruff/rules/explicit_f_string_type_conversion.rs
Due: cargo-fmt, dev-generate-all

Add BestFittingMode (#5184)
  crates/ruff_formatter/src/builders.rs
  crates/ruff_formatter/src/format_element.rs
  crates/ruff_formatter/src/format_element/document.rs
  crates/ruff_formatter/src/format_element/tag.rs
  crates/ruff_formatter/src/lib.rs
  crates/ruff_formatter/src/macros.rs
  crates/ruff_formatter/src/printer/call_stack.rs
  crates/ruff_formatter/src/printer/mod.rs
Due: cargo-fmt, dev-generate-all

Actually implement the check
  crates/ruff/resources/test/fixtures/pylint/repeated_equality_comparison_target.py
  crates/ruff/src/checkers/ast/mod.rs
  crates/ruff/src/rules/pylint/rules/repeated_equality_comparison_target.rs
Due: cargo-fmt, dev-generate-all

Remove defaults from fixtures/pyproject.toml
  crates/ruff/resources/test/fixtures/pyproject.toml
  crates/ruff/src/rules/ruff/mod.rs
  crates/ruff/src/rules/ruff/snapshots/ruff__rules__ruff__tests__ruf100_0.snap
  crates/ruff/src/settings/pyproject.rs
Due: cargo-fmt, dev-generate-all

Fix ArgWithDefault TextRange (#13)
  ast/src/lib.rs
  format/Cargo.toml
  format/src/lib.rs
  parser/src/python.lalrpop
  parser/src/python.rs
  parser/src/snapshots/rustpython_parser__function__tests__function_kw_only_args_with_defaults.snap
  parser/src/snapshots/rustpython_parser__function__tests__function_pos_and_kw_only_args_with_defaults.snap
  parser/src/snapshots/rustpython_parser__function__tests__function_pos_and_kw_only_args_with_defaults_and_varargs.snap
  parser/src/snapshots/rustpython_parser__function__tests__function_pos_and_kw_only_args_with_defaults_and_varargs_and_kwargs.snap
  parser/src/snapshots/rustpython_parser__function__tests__function_pos_args_with_defaults.snap
  parser/src/snapshots/rustpython_parser__function__tests__lambda_kw_only_args_with_defaults.snap
  parser/src/snapshots/rustpython_parser__function__tests__lambda_pos_args_with_defaults.snap
  parser/src/snapshots/rustpython_parser__parser__tests__parse_class.snap
Due: cargo-fmt, dev-generate-all

Format message nicely
  crates/ruff/resources/test/fixtures/pylint/repeated_equality_comparison_target.py
  crates/ruff/src/rules/pylint/rules/repeated_equality_comparison_target.rs
Due: cargo-fmt

Accept any `Into<AnyNodeRef>` as `Comments` arguments
  crates/ruff_python_formatter/src/comments/mod.rs
  crates/ruff_python_formatter/src/expression/expr_bin_op.rs
  crates/ruff_python_formatter/src/expression/expr_dict.rs
  crates/ruff_python_formatter/src/expression/expr_list.rs
  crates/ruff_python_formatter/src/lib.rs
  crates/ruff_python_formatter/src/prelude.rs
  crates/ruff_python_formatter/src/statement/stmt_function_def.rs
  crates/ruff_python_formatter/src/statement/stmt_if.rs
  crates/ruff_python_formatter/src/statement/suite.rs
Due: cargo-fmt, dev-generate-all

Tweak and add tests
  crates/ruff/src/rules/pylint/rules/repeated_equality_comparison_target.rs
  crates/ruff/src/rules/pylint/snapshots/ruff__rules__pylint__tests__PLR1714_repeated_equality_comparison_target.py.snap
Due: cargo-fmt

Add option (`-o`/`--output-file`) to write output to a file (#4950)
  crates/ruff_cli/src/args.rs
  crates/ruff_cli/src/commands/show_files.rs
  crates/ruff_cli/src/commands/show_settings.rs
  crates/ruff_cli/src/lib.rs
  crates/ruff_cli/src/printer.rs
  docs/configuration.md
Due: cargo-fmt, dev-generate-all

Accept any `Into<AnyNodeRef>` as `Comments` arguments (#5205)
  crates/ruff_python_formatter/src/comments/mod.rs
  crates/ruff_python_formatter/src/expression/expr_bin_op.rs
  crates/ruff_python_formatter/src/expression/expr_dict.rs
  crates/ruff_python_formatter/src/expression/expr_list.rs
  crates/ruff_python_formatter/src/lib.rs
  crates/ruff_python_formatter/src/prelude.rs
  crates/ruff_python_formatter/src/statement/stmt_function_def.rs
  crates/ruff_python_formatter/src/statement/stmt_if.rs
  crates/ruff_python_formatter/src/statement/suite.rs
Due: cargo-fmt, dev-generate-all

Support parens
  crates/ruff/resources/test/fixtures/flake8_pytest_style/PT018.py
  crates/ruff/src/rules/flake8_pytest_style/rules/assertion.rs
  crates/ruff/src/rules/flake8_pytest_style/snapshots/ruff__rules__flake8_pytest_style__tests__PT018.snap
Due: cargo-fmt, dev-generate-all

Move `StarImport` to its own module (#5186)
  crates/ruff_python_semantic/src/binding.rs
  crates/ruff_python_semantic/src/lib.rs
  crates/ruff_python_semantic/src/scope.rs
  crates/ruff_python_semantic/src/star_import.rs
Due: cargo-fmt, dev-generate-all

Remove defaults from fixtures/pyproject.toml (#5217)
  crates/ruff/resources/test/fixtures/pyproject.toml
  crates/ruff/src/rules/ruff/mod.rs
  crates/ruff/src/rules/ruff/snapshots/ruff__rules__ruff__tests__ruf100_0.snap
  crates/ruff/src/settings/pyproject.rs
Due: cargo-fmt, dev-generate-all

Move RELEASING.md to CONTRIBUTING.md
  CONTRIBUTING.md
  RELEASING.md
Due: dev-generate-all

Make the release workflow more resilient
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  RELEASING.md
Due: dev-generate-all

Fix subprocess.run on Windows Python 3.7
  python/ruff/__main__.py
Due: dev-generate-all

Support parenthesized expressions when splitting compound assertions (#5219)
  crates/ruff/resources/test/fixtures/flake8_pytest_style/PT018.py
  crates/ruff/src/rules/flake8_pytest_style/rules/assertion.rs
  crates/ruff/src/rules/flake8_pytest_style/snapshots/ruff__rules__flake8_pytest_style__tests__PT018.snap
Due: cargo-fmt, dev-generate-all

Fix subprocess.run on Windows Python 3.7 (#5220)
  python/ruff/__main__.py
Due: dev-generate-all

Traverse argument default before argument annotation
  crates/ruff_python_ast/src/visitor.rs
Due: cargo-fmt, dev-generate-all

Bump version to 0.0.273
  Cargo.lock
  README.md
  crates/flake8_to_ruff/Cargo.toml
  crates/ruff/Cargo.toml
  crates/ruff_cli/Cargo.toml
  docs/tutorial.md
  docs/usage.md
  pyproject.toml
Due: dev-generate-all

Fix mkdocs strict mode
  CONTRIBUTING.md
Due: dev-generate-all

Make the release workflow more resilient (#4728)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  CONTRIBUTING.md
Due: dev-generate-all

Bump version to 0.0.273 (#5218)
  Cargo.lock
  README.md
  crates/flake8_to_ruff/Cargo.toml
  crates/ruff/Cargo.toml
  crates/ruff_cli/Cargo.toml
  docs/tutorial.md
  docs/usage.md
  pyproject.toml
Due: dev-generate-all

Add debugger docs
  crates/ruff/src/rules/flake8_debugger/rules/debugger.rs
Due: cargo-fmt, dev-generate-all

Consistent linking
  crates/ruff/src/rules/flake8_debugger/rules/debugger.rs
Due: cargo-fmt, dev-generate-all

Fixed typo in numpy deprecated type alias rule
  crates/ruff/src/rules/numpy/rules/deprecated_type_alias.rs
Due: cargo-fmt, dev-generate-all

Path conditions:
  cargo-fmt: any of: \.rs$
  dev-generate-all: any file but: target
