Repository astral-sh/ruff: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, dev-generate-all

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system

dev-generate-all:
  name: dev-generate-all
  entry: cargo dev generate-all
  language: system
  pass_filenames: false

Remove scratch file
  test.py
Due: dev-generate-all

Restrict visibility to crate
  crates/ruff/src/rules/ruff/rules/unnecessary_list_allocation_for_first_element.rs
Due: cargo-fmt, dev-generate-all

Implement reviewer comments
  crates/ruff/src/checkers/ast/mod.rs
  crates/ruff/src/rules/ruff/rules/unnecessary_list_allocation_for_first_element.rs
Due: cargo-fmt, dev-generate-all

Handle slices
  crates/ruff/resources/test/fixtures/ruff/RUF015.py
  crates/ruff/src/checkers/ast/mod.rs
  crates/ruff/src/rules/ruff/rules/unnecessary_list_allocation_for_first_element.rs
Due: cargo-fmt, dev-generate-all

Create GetFirstElementOfList rule
  crates/ruff/resources/test/fixtures/ruff/RUF015.py
  crates/ruff/src/checkers/ast/mod.rs
  crates/ruff/src/codes.rs
  crates/ruff/src/rules/ruff/rules/get_first_element_of_list.rs
  crates/ruff/src/rules/ruff/rules/mod.rs
Due: cargo-fmt, dev-generate-all

Wrap fix in [] if slicing rather than indexing
  crates/ruff/src/rules/ruff/rules/unnecessary_list_allocation_for_first_element.rs
  crates/ruff/src/rules/ruff/snapshots/ruff__rules__ruff__tests__RUF015_RUF015.py.snap
Due: cargo-fmt, dev-generate-all

Clippy
  crates/ruff/src/checkers/ast/mod.rs
  crates/ruff/src/rules/ruff/rules/unnecessary_list_allocation_for_first_element.rs
Due: cargo-fmt, dev-generate-all

Genericize generator name extraction
  crates/ruff/resources/test/fixtures/ruff/RUF015.py
  crates/ruff/src/checkers/ast/mod.rs
  crates/ruff/src/codes.rs
  crates/ruff/src/rules/ruff/mod.rs
  crates/ruff/src/rules/ruff/rules/mod.rs
  crates/ruff/src/rules/ruff/rules/unnecessary_iterable_allocation_for_first_element.rs
  crates/ruff/src/rules/ruff/rules/unnecessary_list_allocation_for_first_element.rs
  crates/ruff/src/rules/ruff/snapshots/ruff__rules__ruff__tests__RUF015_RUF015.py.snap
Due: cargo-fmt, dev-generate-all

Add test
  crates/ruff/resources/test/fixtures/ruff/RUF015.py
  crates/ruff/src/rules/ruff/rules/unnecessary_list_allocation_for_first_element.rs
Due: cargo-fmt, dev-generate-all

Fitler `ifs` from ListComp expressions
  crates/ruff/resources/test/fixtures/ruff/RUF015.py
  crates/ruff/src/rules/ruff/rules/unnecessary_list_allocation_for_first_element.rs
Due: cargo-fmt, dev-generate-all

Fix schema
  ruff.schema.json
Due: dev-generate-all

Override fmt_dangling_comments
  crates/ruff_python_formatter/src/statement/stmt_delete.rs
Due: cargo-fmt, dev-generate-all

Small chores
  crates/ruff_python_formatter/src/expression/expr_tuple.rs
  crates/ruff_python_formatter/src/expression/parentheses.rs
Due: cargo-fmt, dev-generate-all

Use join_comma_separated instead of ExprSequence
  crates/ruff_python_formatter/src/expression/expr_tuple.rs
  crates/ruff_python_formatter/src/expression/mod.rs
  crates/ruff_python_formatter/src/expression/sequence.rs
  crates/ruff_python_formatter/src/statement/stmt_delete.rs
Due: cargo-fmt, dev-generate-all

Use a simple match statement for case-insensitive noqa lookup
  Cargo.lock
  crates/ruff/Cargo.toml
  crates/ruff/src/noqa.rs
Due: cargo-fmt, dev-generate-all

Improve PERF203 example
  crates/ruff/src/rules/perflint/rules/try_except_in_loop.rs
Due: cargo-fmt, dev-generate-all

Use a simple match statement for case-insensitive noqa lookup (#5633)
  Cargo.lock
  crates/ruff/Cargo.toml
  crates/ruff/src/noqa.rs
Due: cargo-fmt, dev-generate-all

Improve PERF203 example in docs (#5634)
  crates/ruff/src/rules/perflint/rules/try_except_in_loop.rs
Due: cargo-fmt, dev-generate-all

docs: show nursery icon for nursery rules (#5439)
  crates/ruff_dev/src/generate_rules_table.rs
Due: cargo-fmt, dev-generate-all

Fix typo in complex-if-statement-in-stub message
  crates/ruff/src/rules/flake8_pyi/rules/complex_if_statement_in_stub.rs
  crates/ruff/src/rules/flake8_pyi/snapshots/ruff__rules__flake8_pyi__tests__PYI002_PYI002.pyi.snap
Due: cargo-fmt, dev-generate-all

Render full-width tables in rules reference
  docs/stylesheets/extra.css
Due: dev-generate-all

Update scripts/check_ecosystem.py
  scripts/check_ecosystem.py
Due: dev-generate-all

Simplify link creation
  scripts/check_ecosystem.py
Due: dev-generate-all

Fix typo in complex-if-statement-in-stub message (#5635)
  crates/ruff/src/rules/flake8_pyi/rules/complex_if_statement_in_stub.rs
  crates/ruff/src/rules/flake8_pyi/snapshots/ruff__rules__flake8_pyi__tests__PYI002_PYI002.pyi.snap
Due: cargo-fmt, dev-generate-all

Render full-width tables in rules reference (#5636)
  docs/stylesheets/extra.css
Due: dev-generate-all

Add a link to the nursery; tweak icons
  crates/ruff/src/rules/perflint/rules/try_except_in_loop.rs
  crates/ruff_dev/src/generate_rules_table.rs
  docs/faq.md
Due: cargo-fmt, dev-generate-all

Add a link to the nursery; tweak icons (#5637)
  crates/ruff/src/rules/perflint/rules/try_except_in_loop.rs
  crates/ruff_dev/src/generate_rules_table.rs
  docs/faq.md
Due: cargo-fmt, dev-generate-all

Add links to ecosystem check result (#5631)
  scripts/check_ecosystem.py
Due: dev-generate-all

Add comment tests
  crates/ruff_python_formatter/resources/test/fixtures/ruff/statement/raise.py
Due: dev-generate-all

Rework upstream_categories mechanism for better rule docs generation
  crates/ruff/src/lib.rs
  crates/ruff/src/registry.rs
  crates/ruff/src/upstream_categories.rs
  crates/ruff_cli/src/commands/linter.rs
  crates/ruff_dev/src/generate_rules_table.rs
Due: cargo-fmt, dev-generate-all

formatter: multi char tokens in SimpleTokenizer (#5610)
  Cargo.lock
  crates/ruff_python_formatter/Cargo.toml
  crates/ruff_python_formatter/src/comments/placement.rs
  crates/ruff_python_formatter/src/snapshots/ruff_python_formatter__trivia__tests__identifier_ending_in_non_start_char.snap
  crates/ruff_python_formatter/src/snapshots/ruff_python_formatter__trivia__tests__ignore_word_with_only_id_continuing_chars.snap
  crates/ruff_python_formatter/src/snapshots/ruff_python_formatter__trivia__tests__tokenize_multichar.snap
  crates/ruff_python_formatter/src/snapshots/ruff_python_formatter__trivia__tests__tricky_unicode.snap
  crates/ruff_python_formatter/src/trivia.rs
Due: cargo-fmt, dev-generate-all

Add FitsExpanded and conditional group IR
  crates/ruff_formatter/src/builders.rs
  crates/ruff_formatter/src/format_element/document.rs
  crates/ruff_formatter/src/format_element/tag.rs
  crates/ruff_formatter/src/printer/mod.rs
  crates/ruff_python_formatter/src/comments/debug.rs
Due: cargo-fmt, dev-generate-all

Use new IR to format expressions
  crates/ruff_python_formatter/src/builders.rs
  crates/ruff_python_formatter/src/comments/format.rs
  crates/ruff_python_formatter/src/context.rs
  crates/ruff_python_formatter/src/expression/binary_like.rs
  crates/ruff_python_formatter/src/expression/expr_bin_op.rs
  crates/ruff_python_formatter/src/expression/expr_bool_op.rs
  crates/ruff_python_formatter/src/expression/expr_compare.rs
  crates/ruff_python_formatter/src/expression/mod.rs
  crates/ruff_python_formatter/src/expression/parentheses.rs
  crates/ruff_python_formatter/src/lib.rs
  crates/ruff_python_formatter/src/other/arguments.rs
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__composition.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__composition_no_trailing_comma.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__empty_lines.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__remove_await_parens.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__torture.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__trailing_comma_optional_parens1.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__binary.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__compare.py.snap
  crates/ruff_python_formatter/tests/snapshots/format@expression__unary.py.snap
Due: cargo-fmt, dev-generate-all

Commit regressions
  crates/ruff_python_formatter/src/builders.rs
  crates/ruff_python_formatter/src/lib.rs
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__comments2.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__comments6.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__expression.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__function_trailing_comma.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__trailing_comma_optional_parens3.py.snap
Due: cargo-fmt, dev-generate-all

Revert quicktest changes
  crates/ruff_python_formatter/src/lib.rs
Due: cargo-fmt, dev-generate-all

Add partial implementation of `can_omit_optional_parentheses`
  crates/ruff_python_formatter/src/comments/placement.rs
  crates/ruff_python_formatter/src/expression/expr_if_exp.rs
  crates/ruff_python_formatter/src/expression/expr_subscript.rs
  crates/ruff_python_formatter/src/expression/mod.rs
  crates/ruff_python_formatter/src/lib.rs
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__comments2.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__comments6.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__composition.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__composition_no_trailing_comma.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__expression.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__function_trailing_comma.py.snap
  crates/ruff_python_formatter/tests/snapshots/black_compatibility@simple_cases__trailing_commas_in_leading_parts.py.snap
Due: cargo-fmt, dev-generate-all

Preserve order
  crates/ruff/src/rules/pylint/rules/repeated_equality_comparison_target.rs
  crates/ruff/src/rules/pylint/snapshots/ruff__rules__pylint__tests__PLR1714_repeated_equality_comparison_target.py.snap
Due: cargo-fmt

Rename Violation and add more docs
  crates/ruff/src/checkers/ast/mod.rs
  crates/ruff/src/codes.rs
  crates/ruff/src/rules/dlint/mod.rs
  crates/ruff/src/rules/dlint/rules/catastrophic_backtracking_regular_expression.rs
  crates/ruff/src/rules/dlint/rules/mod.rs
Due: cargo-fmt, dev-generate-all

Change violation message
  crates/ruff/src/rules/dlint/rules/catastrophic_backtracking_regular_expression.rs
Due: cargo-fmt, dev-generate-all

Fix boolean and compare op count
  crates/ruff_python_formatter/src/expression/mod.rs
  crates/ruff_python_formatter/src/lib.rs
  crates/ruff_python_formatter/tests/snapshots/format@expression__compare.py.snap
Due: cargo-fmt, dev-generate-all

Path conditions:
  cargo-fmt: any of: \.rs$
  dev-generate-all: any file but: target
